.md-button.logo {
    height: 7rem;
    width: 7rem;
}

.logo-image {
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

ul {
    display: inline;
    list-style-type: none;
}

.table {
    width: 90%;
    text-align: center;
    margin-left: 5%;
}

.tblImage {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid rgb(53, 97, 180);
    box-shadow: 5px 5px 5px grey;
}

.title {
    text-align: center;
}